#fecha {
    display: grid;
    grid-template-columns: auto auto;
}

#contenido {
    display: grid;
    grid-template-columns: auto auto auto;
}

#separador {
    display: grid;
    grid-template-rows: auto auto;
    background-color: white;
}

#utilidad {
    border: 2px solid blue;
    border-radius: 7px;
}

#ancho1 {
    width: 300px;
}

#tabla {
    width: 100%;
    border: 2px solid black;
    background-color: white;
}

#utilidad {
    border: 2px solid red; 
    text-align: end;
    line-height: 80px;
    font-size: 25px;
}