.grid-layout{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
#desp-info{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.submitButtonEmpleado{
    background-color: rgba(5, 1, 219, 0.1);
    opacity: 50;
    width: 100%;
    padding:10px;
    margin-left: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 17px;
}

.submitButtonEmpleado:hover{
    background-color: rgba(5, 1, 219, 0.5);
    opacity: 50;
    width: 100%;
    padding:10px;
    margin-left: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid gray;
    font-size: 17px;
    cursor: pointer;
}