.App{
    height: 100%;
}

.grid-container{
  display: grid;
  grid-template-columns: 5% 95%;
  grid-template-rows: 13% 87%;
  height: 100%;
  position: relative;
}

.item-header{
  grid-column: 1 / span 3;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  border-bottom: #B8BAF9 35px solid;
}

.item-menu{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2 / span 3;
  border-right: 5px #B8BAF9 solid;
  height: 100%;
}

.item-main{
 grid-column-start: 2;
 grid-column-end: 3;
 grid-row-start: 2;
 grid-row-end: 3;
 padding: 0;
 height: 100%;
 padding-left: 4%;
 padding-right: 4%;
 background-color: #E9EEF0;
}
